*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body {
    background-color: black;
}
/* btn  menu burger */
.btn-menu_burger {
    width: 100px;
    height: 50px;
    font-size: 25px;
    display: none;
    position: absolute;
}
/*                                    head           */
.head{
    width: 100%;
    height: 700px;
    background-image: url(coffee-head.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;

}
.head .nav {
    padding: 20px 50px;
    display: flex;
    position: fixed;
    justify-content: space-between;
}


.head .nav  li{
    list-style-type: none;
    display: inline-block;
    font-size: 20px;
}
.head .nav a{
    text-decoration: none;
    color: aliceblue;
    padding: 2px 15px;
    border: solid rgb(136, 136, 24) 0.05em;
    border-radius: 15px;
}
.head .nav a:hover{
    color: rgb(216, 187, 21);
    background-color: rgb(31, 18, 3) ;
    padding: 2px 15px;
    border-radius: 12px;
    transition: 0.5s;
}

.head h1{
    font-size: 11vw;
    text-shadow: #b46a1bb7 4px 4px 7px;
    color: rgb(29, 14, 3);
    margin: 200px 170px ;
    display: inline-block;
}
/*                       main          */
main{
    width: 100%;
    height: auto;
    background-image: url(coffee-desk-main.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-cards{
    width: 100%;
    height: 900px;
    padding: 70px ;
    display: flex;
    justify-content:space-around;
}

main .container-cards .card {
    width: 350px;
    height: auto;
}
.container-cards img{
    width: 100%;
    height: auto;
}
main img:hover{
    transform: scale(1.05);
    transition: ease-in-out 0.5s;
    cursor: pointer;
    filter: grayscale();
}

/*                        Footer        */


footer{
    max-width: 100%;
    height: 500px;
    background-color: #241506fd;
    text-align: center;
}
footer .container{
    max-width: 40%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content:space-around;
    color: rgb(167, 127, 75);
}
footer div{
    max-width: 200px;
    height: 300px;
    margin-top: 100px;
    border-radius: 15px;
    padding: 20px;
    text-align: left;
}
footer p{
    margin-top: 12px;
}
.socialmedia i{
    font-size: 30px;
    padding: 4px;
    color: rgba(238, 130, 238, 0.651);
}
footer .copyright{
    width: 900px;
    height: 30px;
    position: absolute;
    margin-top: 370px;
    padding: 6px 2px 0px 9px;
    background-color: rgba(240, 248, 255, 0.438);
    color: aliceblue;
}




/* responsive */

/* For desktop: */
.row::after {
    content: "";
    clear: both;
  }
  
  [class*="col-"] {
    float: left;
    padding: 15px;
  }
@media screen and (max-width:567px) {
    .col-sx-1 {width: 8.33%;}
    .col-sx-2 {width: 16.66%;}
    .col-sx-3 {width: 25%;}
    .col-sx-4 {width: 33.33%;}
    .col-sx-5 {width: 41.66%;}
    .col-sx-6 {width: 50%;}
    .col-sx-7 {width: 58.33%;}
    .col-sx-8 {width: 66.66%;}
    .col-sx-9 {width: 75%;}
    .col-sx-10 {width: 83.33%;}
    .col-sx-11 {width: 91.66%;}
    .col-sx-12 {width: 100%;}
}
@media screen and (min-width:765px) {
    .col-md-1 {width: 8.33%;}
    .col-md-2 {width: 16.66%;}
    .col-md-3 {width: 25%;}
    .col-md-4 {width: 33.33%;}
    .col-md-5 {width: 41.66%;}
    .col-md-6 {width: 50%;}
    .col-md-7 {width: 58.33%;}
    .col-md-8 {width: 66.66%;}
    .col-md-9 {width: 75%;}
    .col-md-10 {width: 83.33%;}
    .col-md-11 {width: 91.66%;}
    .col-md-12 {width: 100%;}
}
@media screen and (max-width:992px) {
    .col-lg-1 {width: 8.33%;}
    .col-lg-2 {width: 16.66%;}
    .col-lg-3 {width: 25%;}
    .col-lg-4 {width: 33.33%;}
    .col-lg-5 {width: 41.66%;}
    .col-lg-6 {width: 50%;}
    .col-lg-7 {width: 58.33%;}
    .col-lg-8 {width: 66.66%;}
    .col-lg-9 {width: 75%;}
    .col-lg-10 {width: 83.33%;}
    .col-lg-11 {width: 91.66%;}
    .col-lg-12 {width: 100%;}
}



/* For mobile phones: */
